html,
body {
	background: #d7dde8;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

#gameCanvas {
	background-color: whitesmoke;
	width: 400px;
	height: 400px;
	border-bottom: 1px solid #5f6368;
	border-left: 1px solid #5f6368;
	border-right: 1px solid #5f6368;
}

#game-over {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	font-size: 1.5rem;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 230px;
	width: 200px;
	height: 60px;
	border: 1px solid #5f6368;
	border-radius: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: whitesmoke;
	visibility: hidden;
}

.card {
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 1rem;

	font-family: 'Roboto', sans-serif;
}

.header {
	display: flex;
	background-color: whitesmoke;
	height: 60px;
	width: 400px;
	border: 1px solid #5f6368;
	align-items: center;
	color: black;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.game-description {
	display: flex;
	background-color: whitesmoke;
	justify-content: center;
	width: 400px;
	border-bottom: 1px solid #5f6368;
	border-left: 1px solid #5f6368;
	border-right: 1px solid #5f6368;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.game-description > p {
	padding: 5px 20px;
}

h1 {
	margin-left: 25px;
}
.score {
	margin-left: auto;
	margin-right: 50px;
}

#semi-colon,
#score-display {
	font-size: 24px;
}
i {
	margin-top: 5px;
	padding-right: 4px;
	color: tomato;
	font-size: 1.3rem;
}
